# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Log files
*.log
logs/

# IDE settings (VS Code, PyCharm)
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
